{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto">
    <section class="items-center justify-center h-screen mx-10">
        <div class="grid grid-cols-2 gap-x-10">
            <div class="my-auto shadow-md h-full rounded-md">
                <div class="my-auto">
                    <h1 class="font-bold text-4xl text-center">{{hasil}}</h1>
                </div>
            </div>
            <div class="grid grid-cols-3 gap-x-7 gap-y-14">
                <div class="px-3 py-2 rounded-md shadow-md">
                    <p class="font-bold font-raleway">Load Speed : </p>
                    <p>{{loadstatus}} ({{time}} s)</p>
                </div>

                <div class="px-3 py-2 rounded-md shadow-md col-span-2">
                    <p class="font-bold font-raleway">Meta Title : </p>
                    <p>{{title}}</p>
                </div>

                <div class="px-3 py-2 rounded-md shadow-md col-span-3">
                    <p class="font-bold font-raleway">Meta Description : </p>
                    <p>{{desc}}</p>
                </div>

                <div class="px-3 py-2 rounded-md shadow-md">
                    <p class="font-bold font-raleway">OG Image : </p>
                    <p>{{og}}</p>
                </div>

                <div class="col-span-2 px-3 py-2 rounded-md shadow-md">
                    <p class="font-bold font-raleway">Heading Order : </p>
                    <p>{{h1}}</p>
                </div>
                
                <div class="col-span-3 px-3 py-2 rounded-md shadow-md">
                    <p class="font-bold font-raleway">Image don't have Alt. Text : </p>
                    <p>{{image}} </p>
                </div>
                
                
            </div>
        </div>
        <!-- <div class="text-center mt-12">
            <h1 class="font-bold text-4xl">{{hasil}}</h1>
            <table class="mt-10 border-2">
                <tr>
                    <th>Loading Time</th>
                    <th class="w-96">Title</th>
                    <th class="w-96">Description</th>
                    <th class="w-96">Heading 1</th>
                    <th class="w-96">Images</th>
                    <th class="w-96">OG</th>
                    <th>Hasil</th>
                </tr>
                <tr>
                    <td>{{loadstatus}} ({{time}} s)</td>
                    <td>{{title}}</td>
                    <td>{{status_desc}}</td>
                    <td>{{h1}}</td>
                    <td>{{image}} </td>
                    <td>{{og}}</td>
                    <td>{{hasil}}</td>
                </tr>
            </table>
        </div> -->
    </section>
</div>
{% endblock %}